// `xs` returns only a ruleset and no media query
// ... { ... }
/* 
// `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (min-width: 0px) and (max-width: 575.98px) { 
   
    .other-title{
        display: none;
    }
   
.slide-menu{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-290px) !important;
    z-index: 11111;
    background: var(--color1);
    height: 100vh !important;
    max-width: 250px;
    width: 100%;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 10px #f7f1f155;
}
.slide-menu.show{
    transform: translateX(0px) !important ;
    
}
.collapse:not(.show){
    display: block !important;
}

.slide-menu .nav-link.active{
    border-bottom: 4px solid #fff;
}
.select-form select{
    display: none;
}
.slider-containt{
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
}
.slider-containt h2{
    font-size: 24px;
    line-height: 24px;
}
.slider-containt h4{
    font-size: 14px;
    line-height: 14px;
}
.slider-containt p{
    font-size: 12px;
    line-height: 12px;
    margin-top: 8px;
}
.slider-containt .btn{
    display: none;
}

.service{
    justify-content: flex-start;
    margin-bottom: 20px;
}
.poster2 img{
height: 133px;
}

 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 575.98px) and (max-width: 767.98px) { 

    .slide-menu{
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-290px);
        z-index: 11111;
        background: var(--color1);
        height: 100vh !important;
        max-width: 250px;
        width: 100%;
       
        transition: transform 0.4s ease-in-out;
    }
    .slide-menu.show{
        transform: translateX(0px) ;
      
    }
    .collapse:not(.show){
        display: block !important;
    }
    .slide-menu .nav-link.active{
        border-bottom: 4px solid #fff;
    }

    .select-form select{
        display: none;
    }


    .slider-containt{
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }
    .slider-containt h2{
        font-size: var(--f2);
        line-height: 40px;
    }
    .slider-containt h4{
        font-size: var(--f3);
        line-height: 24px;
    }
    .slider-containt p{
        font-size: var(--f4);
        line-height: 16px;
        margin-top: 16px;
    }




    .slider-containt .btn{
        display: none;
    }
    .service{
        justify-content: flex-start;
        margin-bottom: 20px;
    }


 }
/* 
// `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 767.98px) and (max-width: 991.98px) { 

 

    .slide-menu{
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-290px);
        z-index: 11111;
        background: var(--color1);
        height: 100vh !important;
        max-width: 250px;
        width: 100%;
   
        transition: transform 0.4s ease-in-out;
    }
    .slide-menu.show{
        transform: translateX(0px) ;
      
    }
    .collapse:not(.show){
        display: block !important;
    }
    .slide-menu .nav-link.active{
        border-bottom: 4px solid #fff;
    }
   
    .slider-containt h2{
        font-size: var(--f2);
        line-height: 40px;
    }
    .slider-containt h4{
        font-size: var(--f3);
        line-height: 24px;
    }
    .slider-containt p{
        font-size: var(--f4);
        line-height: 16px;
        margin-top: 16px;
    }
    .service{
        justify-content: flex-start;
       
        margin-bottom: 20px;
    

    }

 }
/* 
// `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width: 991.98px) and (max-width: 1199.98px) { ... }
/* 
// `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width: 1199.98px) and (max-width: 1399.98px) { ... }