*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

html,body{
    scroll-behavior: smooth !important;
}

:root{
    --color1:#00A3FF;
    --color2:#253237;
    --color3:#888888;
    --f1:70px;
    --f2:35px;
    --f3:22px;
    --f4:14px;
    --f5:12px;
}

.text-c1{
    color: var(--color2);
}
.text-c2{
    color: var(--color3);
}
.text-c3{
    color: var(--color1);
}
.c1{
    background: var(--color1) ;
}
.c2{
    background:var(--color2) ;
}
.c3{
    background:var(--color3) ;
}
.f1{
    font-size: var(--f1);
}
.f2{
    font-size: var(--f2);
}
.f3{
    font-size: var(--f3);
}
.f4{
    font-size: var(--f4);
}
.f5{
    font-size: var(--f5);
}
.px{
    padding-left:  38px !important;
    padding-right:  38px !important;
}
.py{
    padding-top: 70px  !important;
    padding-bottom: 70px  !important;
}
.mt{
    margin-top: 25px !important;
}
.mb{
    margin-bottom: 25px !important;
}
header {
    box-shadow: 0px 2px 10px #fdfdfd;
}
.feature{
    box-shadow: 0px 0px 10px #00000055;
}
.other-link .nav-link,a{
    color:  #fff;
    text-decoration: none;
    font-size: var(--f5);
}

.other-link a:hover{
    color: var(--color1);
}
.other-link .nav-item{
    padding-right:  10px;
    padding-left:  10px;
}
span.other-icon{
    margin-right: 4px;
}
.dropdown-toggle::after{
    vertical-align: middle !important;
}
.other-link .dropdown-item{
    color: var(--color2);
}
.close-btn{
    
    border: none;
    font-size: var(--f3);
    background: transparent;
  

}
.navbar-toggler{
border: none !important;
box-shadow: none !important;
color: var(--color2);
font-size: var(--f3);
}
.slide-menu .dropdown > .dropdown-menu{
    display: block;
    opacity: 0;
    visibility: hidden;
    border: none;
    text-align: left;
    box-shadow: 0px 0px 10px #00000055;
    border-radius: 0px;
    padding: 15px 0px ;
    max-width: 250px;
   
}
.slide-menu .dropdown:hover > .dropdown-menu{
visibility: visible;
opacity: 1;
transition: all 0.3s ease-in-out ;

} 
.slide-menu .sublink{
    position: relative;
}

.slide-menu .submenu{
    display: block;
    position: absolute;
    left: 101%;
    top: 0;
    background: #fff;
    box-shadow: 0px 0px 10px #00000055;
    padding: 15px 0px;
    list-style: none;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    max-width: 250px;
    width: 100%;
 
}
.slide-menu  .submenu-item{
    color: var(--color3) !important;
    font-size: var(--f5) !important;
    display: block;
    padding: 8px;
    font-weight: 500;
    padding: 15px 24px;
}

.slide-menu .sublink:hover > .submenu{
    transition: all 0.3s ease-in-out ;
    opacity: 1;
    visibility: visible;
}
.slide-menu .nav-link{
    font-size: var(--f4);
    color: var(--color2) !important;
    font-weight: 600;
    text-transform: capitalize;
padding: 8px 16px !important;
}
.slide-menu .nav-link.active{
    border-bottom: 4px solid var(--color1);
}
.slide-menu  .dropdown-item:hover ,.submenu-item:hover{
    background-color: var(--color1) !important;
}
.shop-menu {
    max-width: 768px !important;
    width: 600px;
    padding: 20px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.shop-menu .submenu-item{
    padding: 4px 8px 4px 0px !important;
    text-align: left;

}
.mobile-menu .nav-item{
    width: 100%;
}
.nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px 8px;
}
.nav-icons p:hover{
color: var(--color1) !important;
fill: var(--color1);
}
.nav-icons svg  path[fill="#000"]:hover{
    fill: var(--color1);
    transition: 0.3 ease-in-out ;
}
span.cart {
    background: red;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    bottom: -8px;
    left: 16px;
}
.icon-title{
    margin-left: 4px;
}

.form{
    border: 1px solid var(--color3);
    border-radius: 50px 50px 50px 50px;
}

.search-input{
    display: inline-block;
    width: 100%;
    padding: 9px;
    border-radius: 50px 50px 50px 50px;
   border: none !important;

}
.search-input:focus-visible,.select-form select:focus-visible{
    outline:  none !important;
}
.search-input::placeholder{
    padding: 0px 15px;
}
.select-form{
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   right: 0px;
   overflow: hidden;
 
}
.select-form select{
    background: transparent;
    border: none !important;
}
.select-form select,option{
    color: var(--color3);
    font-size: var(--f5);
    text-transform: capitalize;
}
.search-btn {
   
    background: var(--color1);
    padding: 10px 20px;
    height: 100%;
    text-align: center;
    border-radius: 0px 50px 50px 0px;
    
}


/* slider */
.slider-wapper{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 9;
}
.slider-wapper::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:#00000055;
    z-index: 10;
}
.slider-containt{
    position: absolute;
    left: 5%;
    top: 10%;
    z-index: 11;
}
.slider-containt h2{
    font-weight: 700;
    line-height: 72px;
    text-transform: capitalize;
}
.slider-containt p{
    font-weight: 500;
    line-height: 1.8;
    margin-top: 25px;

}
.btn{
   
background: linear-gradient(45deg, #ffffffc7, var(--color1),#ffffffc7);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0px !important;
    font-size: var(--f4);
    text-transform: capitalize;
    padding: 10px 34px;
}
.btn:focus-visible{
    box-shadow: none;
    border: none;
}
.btn:hover{
    background: transparent;
    color: #fff !important;
    border: 1px solid #fff;
    transition: all 0.5s linear;
}
.home-slider .owl-carousel:nth-child(1) .owl-item.active h2{
animation: fadeInLeft 1.5s ease  0s 1  both;
}
.home-slider .owl-item.active h4{
    animation: fadeInLeft 1.5s ease  0.5s 1  both;
    }
    .home-slider .owl-item.active .btn{
        animation: fadeInUp 1.5s ease  0.5s 1  both;
        }
        .home-slider .owl-item.active p{
            animation: fadeInDown 1.5s ease  0.5s 1  both;
            }
            .home-slider  .owl-item.active .contant2 h2{
                animation: fadeInRight 1.5s ease  0s 1  both !important;
                
                }
                .home-slider  .owl-item.active  .contant3 h2{
                    animation: heartBeat 1.5s ease  0s 1  both !important;
                    
                    }

                    .home-slider  .owl-nav {
                        visibility: hidden;
                        opacity: 0;
                        transition: 0.3s ease-in-out;
                    }
                    .home-slider .owl-carousel:hover .owl-nav{
                        opacity: 1;
                        visibility: visible;
                    }



                        .home-slider .owl-carousel .owl-nav button.owl-prev,   .home-slider .owl-carousel .owl-nav button.owl-next{
                            position: absolute;
                            top: 50%;
                           text-align: center;
                           height:45px;
                           width: 45px;
                           background: #fff !important;
                           border-radius: 50% !important;
                          
                        }
                        .home-slider  .owl-carousel .owl-nav button.owl-prev{
                            left: 0 !important;
                        }
                        .home-slider  .owl-carousel .owl-nav button.owl-next{
                            right: 0 !important;
                        }


                        .home-slider .owl-nav button.owl-prev:hover,  .home-slider .owl-nav button.owl-next:hover{
                            background-color: var(--color1) !important;
                        }







/* services */

                    .service{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                    }
                  
                    .service span{
    display: inline-block;
    margin-left: 16px;
   }      
   .service span h4{
    font-size: 18px;
    letter-spacing: 1.2px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
   }

   /* seller */
   
  .teg{
    display: inline-block;
    background: var(--color1);
    color: #fff;
    width: 60px;
    height:20px;
    border-radius:5px;
    text-align:center;
    font-size: var(--f5);
    font-weight: bold;
  }
  .card{
    border-radius: 2px!important;
    min-height: 350px;
    position: relative;
    display: block;
    overflow:hidden;
    padding-top: 50px;
    margin-bottom: 25px;

   
  }

  .card a:hover{
    color: var(--color1) !important;
  }
  .card .card-body{
  display: flex;
  align-items: center;

    padding-top: 50px;
    padding-bottom: 20px;
    
  }
  .card:hover .card-img-top{
    transform: scale(1.5);
    transition: transform 0.3s linear;
  }
  .view{
    height:40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    border:0.5px solid var(--color3);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 25%;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s linear;
  }
  .card:hover .view{
    opacity: 1;
    visibility: visible;
  }
  
  .view svg{
    color: var(--color3);
  }
  .card:hover .cart-panel{
    opacity: 1;
    visibility: visible;
    bottom: 0;
  }


  .view:hover{
    background-color: var(--color1);
    border:0.5px solid var(--color1);
   
  }
  .view:hover.view svg{
    color:#fff;
  }

  .card .card-body .panel-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  .cart-panel{
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s linear;
   background: #fff;
   box-shadow: 0px 0px 10px #00000055;
  }
  .card-icon svg{
padding: 4px 8px;
font-size:18px;
  }

 .sell-slider .owl-nav{
    position: absolute;
    top: -20%;
    right:0%;
    display: block !important;
 
  
} 
.sell-slider .owl-carousel .owl-nav button.owl-prev,  .sell-slider .owl-carousel .owl-nav button.owl-next{
   text-align: center;
   height:30px;
   width: 30px;
   background: #fff !important;
   border: 1px solid var(--color3);
   border-radius: 50% !important;
  
}
.sell-slider .owl-nav button.owl-prev:hover,  .sell-slider  .owl-nav button.owl-next:hover{
    background-color: var(--color1) !important;
}
.sticky-top{
    background: #fff;
}
.cat-title{
    font-size: 18px;
    font-weight: 600;
    color:var(--color2);
    text-transform: capitalize;
}
.Categorie-item{
    position: relative;
    overflow: hidden;
    display:block;
    margin-bottom: 25px;
}
.Categorie-item a:hover{
    color:var(--color1)!important;
}
.Categorie-item img:hover{
transform: scale(1.05);
transition: transform 0.3s linear;
}
.Categorie-info{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 20%;
    top: 50%;
}

.Categories .owl-nav {
    position: absolute;
    top: -20%;
    right:0%;
    display: block !important;
 
  
} 

.Categories  .owl-carousel .owl-nav button.owl-prev, .Categories  .owl-carousel .owl-nav button.owl-next{
    text-align: center;
    height:30px;
    width: 30px;
    background: #fff !important;
    border: 1px solid var(--color3);
    border-radius: 50% !important;
   
 }
 .Categories .owl-nav button.owl-prev:hover,  .Categories .owl-nav button.owl-next:hover{
    background-color: var(--color1) !important;
}

.deal .card .card-img-top{
    padding: 64px 0px !important;
}
.deal .card-body{
    width: 100%;
     display: block;
     text-align: center;
   
}
.deal .card-body .card-info h5{
 font-size: 16px;
}
.deal .card-body .card-info h3{
    font-size: 18px;
   }
.deal .card-body .progress{
    height: 8px !important;
    margin-top: 25px;
    margin-bottom: 25px;
}
.deal .card-body .progress .progress-bar{
    background-color: var(--color1) !important;
}
.countdown-box-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}
.text-countdown{
    color: var(--color3) !important;
    font-size: var(--f4);
    font-weight: 400;
    text-align: center;
}
.inner .box{
    color: var(--color2) !important;
    font-size: var(--f3);
    font-weight: 600;
    text-align: center;
    margin: 5px;
}
.inner .box span{
    display: block;
    color: var(--color3) !important;
    font-size: var(--f4);
    font-weight: 400;
    text-align: left;
}
.deal .owl-carousel .owl-nav, .deal .owl-carousel .owl-nav,
.arivel .owl-carousel .owl-nav, .arivel .owl-carousel .owl-nav

{
   
        position: absolute;
        top: -10%;
        right:0%;
        display: block !important;
     
      
    } 
    .deal .owl-carousel .owl-nav button.owl-prev, .deal .owl-carousel .owl-nav button.owl-next,
    .arivel .owl-carousel .owl-nav button.owl-prev, .arivel .owl-carousel .owl-nav button.owl-next
    {
        text-align: center;
        height:30px;
        width: 30px;
        background: #fff !important;
        border: 1px solid var(--color3);
        border-radius: 50% !important;
    }
    .deal .owl-nav button.owl-prev:hover, .deal .owl-nav button.owl-next:hover,
    .arivel .owl-nav button.owl-prev:hover,  .arivel .owl-nav button.owl-next:hover
    {
        background-color: var(--color1) !important;
    }
    .poster{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
   
    overflow: hidden;
    position: relative;

    }
   
    .poster img{
        width: 100%;
    }
    .effact1,.effact2{
        position: relative;
        overflow: hidden;
        
    }
    .effact1:after,.effact2:after {
        content: '';
        
        display: inline-block;
        position: absolute;
       
    
    
        bottom: 0;
        right: 0;
        transition: 0.6s;
        left: 0;
        top: 0;
       
    }
    .effact1:hover.effact1:after{
        background: #fef4f450;
       top: 50%;
       bottom: 50%;
    }
    .effact2:hover.effact2:after{
        background: #fef4f450;
       left: 50%;
       right: 50%;
    }
    
    .poster:hover img{
        transform: scale(1.1);
        transition: transform 0.3s linear;
    }
    .poster2{
        display: block;
        overflow: hidden;
        position: relative;
        
    }
    .poster2:hover img{
        transform: scale(1.05);
transition: transform 0.3s linear;
    }
    .poster-info{
        position: absolute;
        left: 5%;
        transform: translateY(-50%);
        top: 50%;
    }
    .sponcers .item{
        background: #00a2ff2d !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 10px 0px 10px;
    }
    .sponcers .item img{
       max-width: 180px;
    }
    .f-box{
        margin-top: 70px;
    }
    .f-icon{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
 .footer-link{
    text-decoration: none;
    color: var(--color3);
   font-size: 14px;
    display: inline-block;

    padding: 5px 0px;
 }
 .footer-link:hover{
    color: var(--color2);
    padding-left: 8px;
    transition: all 0.3s linear ;
 }
 .footer-icon  .footer-link{
    font-size: 22px;
    margin: 0px 5px;
 }
 .footer-icon  .footer-link:hover{
    padding: none !important;
 }
 .bg-blue{
background: #fffefe46 !important;
border-top: 0.5px solid rgba(0, 0, 0, 0.103);
 }
 .f-heading{
    margin-bottom: 25px;
    position:relative;
    display: block;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom:0.5px solid rgba(0, 0, 0, 0.103) ;
    margin-bottom: 18px !important;
 }
 .f-heading:after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 5px;
    background: var(--color1);
    bottom: -2px;
    left: 0;
    opacity: 0.8;
 }
 .bottom-line{
    border-top: 0.5px solid rgba(0, 0, 0, 0.103);
 }
 .footer-form input{
    padding: 12px;
    border-radius: 25px 25px 25px 25px;
    border: none;
    background: #00a2ff80 !important;
    width: 100%;
    font-size: var(--f4);
    color:#fff;
 }
 .footer-form input::placeholder{
    color: #fff;
    font-size: 12px;
 }
 .footer-form input:focus-visible{
    border: none !important;
    outline: none !important;
 }
 .footer-form{
    position: relative;
    display: block;
    overflow:hidden;
 }
 .subscribe-btn{
    padding: 13px 20px;
    border-radius: 0px 25px 25px 0px;
    border: none !important;
    position:absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    background: #000;
    color:#fff;
    font-weight:600;
 }
 #back-top{
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align:center;
    display: inline-block;
    border-radius: 50%;
  border: 1px solid var(--color3);
    color: #222;
    position: fixed;
    bottom:25px;
    right: 15px;
    z-index: 11111111;
    cursor: pointer;
    background: #fff;

}
#back-top:hover{
  transition: all 0.3s linear ;
  background: var(--color1);
  color: #fff;
}


.other-page{
    background: url("");
}